.activeclass{
    background-color: rgb(254, 254, 254);
    --tw-bg-opacity: 1; 
     background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    /* color: rgb(255 255 255 / var(--tw-text-opacity)); */
    padding: 0.18rem;
border-radius: 11px;
color:white; 

}
.uiclass{
    display: flex;
    
}